{% extends 'base.html' %}
{% block title %}
    Курсы!
{% endblock %}
{% block style %}
    {% include 'inc-style.html' %}
{% endblock %}
{% block menu %}
    {% include 'inc-menu.html' %}
{% endblock %}
{% block body %}
    <div>
        <a href="/">Назад на главную!</a>
        <br>
        <br>
        <br>
        <div>
            <a href="/create_course/">Создать новый курс</a>
        </div>
        <br>
        <h1>Список курсов</h1>
        {% for course in objects_list %}
        <li>
            {{ course.name }} <span><a href="/copy_course/?name={{ course.name }}">копировать</a> </span>
        </li>
        {% endfor %}
    </div>
{% endblock %}